.inner-banner-wrap {
    .inner-banner-container {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        text-align: center;
        position: relative;
        padding-top: 135px;

        &::before {
            background-color: #151515;
            content: '';
            display: block;
            opacity: 0.65;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
        }

        .inner-banner-content {
            padding-top: 120px;
            padding-bottom: 135px;
            position: relative;
            color: #ffffff;

            .page-title {
                color: #ffffff;
                line-height: 1.1;
                text-transform: uppercase;
                margin-bottom: 0;
            }
        }
    }
}
